In [1]:
print("hi")

hi

In [4]:
import requests
render_url = "https://openapi-4dco.onrender.com/pico_w/?count=5"

r = requests.get(url=render_url)

if r.status_code == 200:
    print("下載成功")
    data = r.json()

print(data)

下載成功
[{'date': '2024-1-24 15:37:12', 'address': 'chicken_KFC', 'temperature': 27.51254, 'light': 24453.0}, {'date': '2024-1-24 15:37:27', 'address': 'chicken_KFC', 'temperature': 27.51254, 'light': 31047.0}, {'date': '2024-1-24 15:37:42', 'address': 'chicken_KFC', 'temperature': 27.51254, 'light': 30407.0}, {'date': '2024-1-24 15:37:53', 'address': 'chicken_KFC', 'temperature': 27.51254, 'light': 26758.0}, {'date': '2024-01-24 11:19:42', 'address': 'school', 'temperature': 20.0, 'light': 30.0}]

In [6]:
import pandas as pd
pd.DataFrame(data)

C:\Users\g1202\AppData\Local\Temp\ipykernel_6656\4265374290.py:1: DeprecationWarning:
Pyarrow will become a required dependency of pandas in the next major release of pandas (pandas 3.0),
(to allow more performant data types, such as the Arrow string type, and better interoperability with other libraries)
but was not found to be installed on your system.
If this would cause problems for you,
please provide us feedback at https://github.com/pandas-dev/pandas/issues/54466

  import pandas as pd

                  date      address  temperature    light
0   2024-1-24 15:37:12  chicken_KFC     27.51254  24453.0
1   2024-1-24 15:37:27  chicken_KFC     27.51254  31047.0
2   2024-1-24 15:37:42  chicken_KFC     27.51254  30407.0
3   2024-1-24 15:37:53  chicken_KFC     27.51254  26758.0
4  2024-01-24 11:19:42       school     20.00000     30.0